/* CSS Document */
.regtext {
	font-size:12px;
	color:#333333;
	

}
.deftext {
	font-size:13px;
	font-weight:bold;
	color:#333333;
	margin-left:15px;
}

.elem {
	margin:10px 0px;
}
.bar{
	clear:both;
	margin:5px 0px;
}
.txt{
	vertical-align:middle;
	margin:0 10px;
}

.navigBar {
position: relative;
background-color: #F58329;
margin-left: 30px;
width: 300px;
height: 25px;
color:#FFFFFF;
font-size:18px;
font-weight: bold;
text-indent: 14px;
}

.ta {
	width: 98%;
	height: 80px;
	margin:10px 0px;
}



a {
	color:#33851b;
	outline:none;
}