.cust_checkbox{
	font-size:10px;
	cursor: pointer;
}
.cust_checkbox_on{
	background:url(images/checkon.gif) no-repeat 0 0;
}
.cust_radio_on{
	background:url(images/radiobox_on.png) no-repeat 0 0;
}
.cust_checkbox_off{
	background:url(images/checkoff.gif) no-repeat 0 0;
}
.cust_radio_off{
	background:url(images/checkbox_off.png) no-repeat 0 0;
}
.cust_checkbox_disabled_on{
	background:url(images/checkbox_disabled_on.png) no-repeat 0 0;
}
.cust_checkbox_disabled_off{
	background:url(images/disabled_off.png) no-repeat 0 0;
}
.cust_radio_disabled_on{
	background:url(images/radiobox_disabled_on.png) no-repeat 0 0;
}
.cust_radio_disabled_off{
	background:url(images/disabled_off.png) no-repeat 0 0;
}
.group{
	color:#333;
}
fieldset{
		border:1px solid #ccc;	
}
fieldset label{
	color:#999;	
}
